.gradle
build/
classes/
!gradle/wrapper/gradle-wrapper.jar
*.log
*/**/.DS_Store
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
local.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Volcengine compile ###
output/

.vscode/
target/
*.class
